<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ufba.mypersonaltrainner" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MeusTreinos"
            android:label="@string/title_activity_meus_treinos"
            android:parentActivityName=".SideBarActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ufba.mypersonaltrainner.SideBarActivity" />
            >
        </activity>
        <activity
            android:name=".ConfigurarTreinoMyActivity"
            android:label="@string/title_activity_configurar_treino_my" >
        </activity>
        <activity
            android:name=".SideBarActivity"
            android:label="@string/title_activity_side_bar" >
        </activity>
        <activity
            android:name=".TreinoDeHojeActivity"
            android:label="@string/title_activity_treino_de_hoje"
            android:parentActivityName=".SideBarActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ufba.mypersonaltrainner.SideBarActivity" />
        </activity>
        <activity
            android:name=".ExercicioActivity"
            android:label="@string/title_activity_execicio" >
        </activity>
        <activity
            android:name=".TrainigDetail"
            android:label="@string/title_activity_trainig_detail"
            android:parentActivityName=".MeusTreinos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ufba.mypersonaltrainner.MeusTreinos" />
        </activity>
        <activity
            android:name=".TreinosAtivosActivity"
            android:label="@string/title_activity_treinos_ativos" >
        </activity>
    </application>

</manifest>
